$white: #fff;
$black: #000;
$swissCoffee: #e0dbd8;
$saffronMango: #f9c859;
$seashell: #f1f1f1;
$silver: #bfbfbf;
$alto: #d1d0d0;
$dustyGray: #9a9a9a;
$baliHai: #8d9bac;
$mineShaft: #232323;
$smok: #dadada;
$boulder: #787878;
$aluminium: #aaacb2;
$goldenrod: #f8ce6e;
$stormGray: #74777e;
$gallery: #eee;
$wildSand: #f6f6f6;
