<section class="basket">
  <div class="container">
    <h1 class="title basket__title">Корзина</h1>
    <div class="basket__box">
      <div class="basket__box-btn">
        <button class="btn-reset basket__btn-users basket__btn-users--stock basket__btn-users--active">В наличии <span class="basket__btn-users-number">(103)</span></button>
        <button class="btn-reset basket__btn-users basket__btn-users--order">Под заказ <span class="basket__btn-users-number">(14)</span></button>
      </div>
      <p class="basket__warning">Минимальный вес для доставки: 100 г</p>
    </div>
    <div class="basket__list">
      <button class="btn-reset basket__btn-item">Золото</button>
      <div class="basket__item">
        <div class="basket__box-product">
          <img class="basket__img" src="img/products/products-2.png" alt="" width="98" height="98">
          <div class="basket__product">
            <h2 class="title basket__title basket__title--second">Кольцо из белого золота <br> с бриллиантами</h2>
            <p class="basket__price">35 000 &#8381;<del class="basket__price-old">55 000 &#8381;</del></p>
            <div class="basket__box-quantity">
              <input class="basket__input" type="number" name="quantity" id="quantity" value="3">
              <label class="visually-hidden" for="quantity">Колличество</label>
              <button class="btn-reset basket__btn-quantity basket__btn-quantity--remove" aria-label="Убавить количество"></button>
              <button class="btn-reset basket__btn-quantity basket__btn-quantity--add" aria-label="Добавить количество">
                <svg class="basket-icon" width="10" height="10">
                  <use xlink:href="img/sprite.svg#plus"></use>
                </svg>
              </button>
            </div>
          </div>
        </div>
        <dl class="basket__description-list">
          <div class="basket__description-box">
            <dt class="basket__description-title">Артикул</dt>
            <dd class="basket__description-text">3498003</dd>
          </div>
          <div class="basket__description-box">
            <dt class="basket__description-title">Вес</dt>
            <dd class="basket__description-text">2 г</dd>
          </div>
          <div class="basket__description-box">
            <dt class="basket__description-title">Размер</dt>
            <dd class="basket__description-text">14</dd>
          </div>
          <div class="basket__description-box">
            <dt class="basket__description-title">Общий вес</dt>
            <dd class="basket__description-text">35 г</dd>
          </div>
        </dl>
        <button class="btn-reset basket__btn-close">
          <svg class="basket-icon basket-icon__close" width="14" height="14">
            <use xlink:href="img/sprite.svg#close"></use>
          </svg>
        </button>
      </div>
      <div class="basket__item">
        <div class="basket__box-product">
          <img class="basket__img" src="img/products/products-3.png" alt="" width="98" height="98">
          <div class="basket__product">
            <h2 class="title basket__title basket__title--second">Кольцо из белого золота <br> с бриллиантами</h2>
            <p class="basket__price">35 000 &#8381;<del class="basket__price-old">55 000 &#8381;</del></p>
            <div class="basket__box-quantity">
              <input class="basket__input" type="number" name="quantity" id="quantity" value="1">
              <label class="visually-hidden" for="quantity">Колличество</label>
              <button class="btn-reset basket__btn-quantity basket__btn-quantity--remove" aria-label="Убавить количество"></button>
              <button class="btn-reset basket__btn-quantity basket__btn-quantity--add" aria-label="Добавить количество">
                <svg class="basket-icon" width="10" height="10">
                  <use xlink:href="img/sprite.svg#plus"></use>
                </svg>
              </button>
            </div>
          </div>
        </div>
        <dl class="basket__description-list">
          <div class="basket__description-box">
            <dt class="basket__description-title">Артикул</dt>
            <dd class="basket__description-text">3498003</dd>
          </div>
          <div class="basket__description-box">
            <dt class="basket__description-title">Вес</dt>
            <dd class="basket__description-text">2 г</dd>
          </div>
          <div class="basket__description-box">
            <dt class="basket__description-title">Размер</dt>
            <dd class="basket__description-text">14</dd>
          </div>
          <div class="basket__description-box">
            <dt class="basket__description-title">Общий вес</dt>
            <dd class="basket__description-text">35 г</dd>
          </div>
        </dl>
        <button class="btn-reset basket__btn-close">
          <svg class="basket-icon basket-icon__close" width="14" height="14">
            <use xlink:href="img/sprite.svg#close"></use>
          </svg>
        </button>
      </div>
    </div>
    <div class="basket__result">
      <dl class="basket__result-list">
        <div class="basket__result-item basket__result-item--main">
          <dt class="basket__text basket__text--big">Итого:</dt>
          <dd class="basket__amount basket__amount--big">2 108 000 &#8381;</dd>
        </div>
        <div class="basket__result-item">
          <dt class="basket__text">Общие колличество товаров:</dt>
          <dd class="basket__amount">52</dd>
        </div>
        <div class="basket__result-item">
          <dt class="basket__text">Общий вес:</dt>
          <dd class="basket__amount">570 г.</dd>
        </div>
        <div class="basket__result-item">
          <dt class="basket__text">Общий размер:</dt>
          <dd class="basket__amount">78</dd>
        </div>
        <div class="basket__result-item">
          <dt class="basket__text">Скидка</dt>
          <dd class="basket__amount">20 000 &#8381;</dd>
        </div>
        <div class="basket__delivery">
          <dt class="basket__text">Доставка:</dt>
          <dd class="basket__free">бесплатно</dd>
        </div>
      </dl>
    </div>
    <table class="table">
      <thead class="table__heade">
        <tr class="table__top">
          <th class="table__title" width="538">Изделие</th>
          <th class="table__title" width="150">Артикул</th>
          <th class="table__title" width="109">Вес</th>
          <th class="table__title" width="109">Размер</th>
          <th class="table__title" width="150">Количество</th>
          <th class="table__title" width="150">Общий вес</th>
          <th class="table__title" width="150">Старая цена</th>
          <th class="table__title">Цена</th>
        </tr>
      </thead>
      <tbody class="table__body">
        <tr class="table__category">
          <td colspan="4" class="table__text">
            <button class="btn-reset basket__btn-item basket__btn-item--table">Золото</button>
          </td>
          <td class="table__text">1</td>
          <td class="table__text">6</td>
          <td></td>
          <td class="table__text">8 000 &#8381;</td>
        </tr>
        <tr class="table__item">
          <td class="table__input">
            <input class="table__checkbox" type="checkbox" name="product" id="product">
            <label class="table__label" for="product">
              <img class="table__img" src="img/products/products-4.png" alt="" width="46" height="46">
              <span class="table__product">Кольцо из белого золота с бриллиантами</span>
            </label>
          </td>
          <td class="table__text">3498565</td>
          <td class="table__text">2 г</td>
          <td class="table__text">14</td>
          <td class="table__text table__text--input" width="150">
            <input class="tablet__input" type="number" name="quantity" id="quantity" value="3">
            <label class="visually-hidden" for="quantity">Колличество</label>
            <button class="btn-reset basket__btn-quantity basket__btn-quantity--remove basket__btn-quantity--remove-table" aria-label="Убавить количество"></button>
              <button class="btn-reset basket__btn-quantity basket__btn-quantity--add basket__btn-quantity--add-table" aria-label="Добавить количество">
                <svg class="basket-icon" width="10" height="10">
                  <use xlink:href="img/sprite.svg#plus"></use>
                </svg>
              </button>
          </td>
          <td class="table__text">6 г</td>
          <td class="table__text table__text--old">28 000 &#8381;</td>
          <td class="table__text">8 000 &#8381;</td>
        </tr>
      </tbody>
      <tfoot class="table__foot">
        <tr class="table__total">
          <th class="table__title" colspan="2">Итого:</th>
          <th class="table__title">230 г</th>
          <th class="table__title" colspan="4">98</th>
          <th class="table__title">2 108 000 &#8381;</th>
        </tr>
        <tr>
          <th class="table__title" colspan="6">Доставка: <span>бесплатно</span></th>
          <th class="table__title">Скидка:</th>
          <th class="table__title">20 000 &#8381;</th>
        </tr>
      </tfoot>
    </table>
    <a class="btn-reset basket__btn" href="registration.html">Оформить заказ</a>
  </div>
</section>
