<section class="catalog">
  <div class="container catalog__flex">
    <h2 class="title title-decoration catalog__title">Каталог</h2>
    <ul class="list-reset catalog__list">
      <li class="catalog__item catalog__item--necklace">
        <h3 class="catalog__product-title">Колье</h3>
        <div class="catalog__probuct-bg">
          <a class="catalog__link catalog__link--necklace" href="#"></a>
        </div>
      </li>
      <li class="catalog__item catalog__item--rings">
        <h3 class="catalog__product-title">Кольца</h3>
        <div class="catalog__probuct-bg">
          <a class="catalog__link catalog__link--rings" href="#"></a>
        </div>
        <span class="products-icon products-icon--all">Все</span>
        <span class="products-icon products-icon--gloves">Перчатки</span>
      </li>
      <li class="catalog__item catalog__item--bracelets">
        <h3 class="catalog__product-title">Браслеты</h3>
        <div class="catalog__probuct-bg">
          <a class="catalog__link catalog__link--bracelets" href="#"></a>
        </div>
        <span class="products-icon products-icon--chain">На цепочке</span>
        <span class="products-icon products-icon--thread">На нитке</span>
        <span class="products-icon products-icon--links">Из звеньев</span>
        <span class="products-icon products-icon--molding">Литьевые</span>
        <span class="products-icon products-icon--stamped">Штампованные</span>
        <span class="products-icon products-icon--rolexes">Ролексы</span>
      </li>
      <li class="catalog__item catalog__item--suspensions">
        <h3 class="catalog__product-title">Подвески</h3>
        <div class="catalog__probuct-bg">
          <a class="catalog__link catalog__link--suspensions" href="#"></a>
        </div>
      </li>
      <li class="catalog__item catalog__item--cufflinks">
        <h3 class="catalog__product-title">Запонки</h3>
        <div class="catalog__probuct-bg">
          <a class="catalog__link catalog__link--cufflinks" href="#"></a>
        </div>
      </li>
      <li class="catalog__item catalog__item--gifts">
        <h3 class="catalog__product-title">Подарки</h3>
        <div class="catalog__probuct-bg">
          <a class="catalog__link catalog__link--gifts" href="#"></a>
        </div>
      </li>
      <li class="catalog__item catalog__item--religious">
        <h3 class="catalog__product-title">Религиозные</h3>
        <div class="catalog__probuct-bg">
          <a class="catalog__link catalog__link--religious" href="#"></a>
        </div>
        <span class="products-icon products-icon--christian">Христианские</span>
        <span class="products-icon products-icon--muslim">Мусульманские</span>
      </li>
      <li class="catalog__item catalog__item--wood">
        <h3 class="catalog__product-title">Изделия из дерева</h3>
        <div class="catalog__probuct-bg">
          <a class="catalog__link catalog__link--wood" href="#"></a>
        </div>
        <span class="products-icon products-icon--earrings">Серьги</span>
        <span class="products-icon products-icon--crosses">Кресты</span>
        <span class="products-icon products-icon--suspensions">Подвески</span>
        <span class="products-icon products-icon--cufflinks">Запонки</span>
      </li>
      <li class="catalog__item catalog__item--collections">
        <h3 class="catalog__product-title">Коллекции</h3>
        <div class="catalog__probuct-bg">
          <a class="catalog__link catalog__link--collections" href="#"></a>
        </div>
      </li>
      <li class="catalog__item catalog__item--brooches">
        <h3 class="catalog__product-title">Броши</h3>
        <div class="catalog__probuct-bg">
          <a class="catalog__link catalog__link--brooches" href="#"></a>
        </div>
      </li>
      <li class="catalog__item catalog__item--piercing">
        <h3 class="catalog__product-title">Пирсинг</h3>
        <div class="catalog__probuct-bg">
          <a class="catalog__link catalog__link--piercing" href="#"></a>
        </div>
      </li>
    </ul>
    <button class="btn-reset btn catalog__btn">Показать все</button>
  </div>
</section>
