<section class="contract">
  <div class="container contract__flex">
    <h2 class="title title-decoration contract__title">Заключите договор всего в 3 шага</h2>
    <ol class="list-reset contract__list">
      <li class="contract__item contract__item--application" >Оставьте свою заявку</li>
      <li class="contract__item contract__item--document">Отправьте документы</li>
      <li class="contract__item contract__item--contract">Подпешите договор</li>
    </ol>
    <button class="btn-reset btn contract__btn">Оставить заявку</button>
    <button class="btn-reset contract__btn-slider contract__btn-slider--previous" aria-label="Переключить слайд">
      <svg class="contract__btn-icon" width="15" height="14">
        <use xlink:href="img/sprite.svg#slider-btn-2"></use>
      </svg>
    </button>
    <button class="btn-reset contract__btn-slider contract__btn-slider--next" aria-label="Переключить слайд">
      <svg class="contract__btn-icon" width="15" height="14">
        <use xlink:href="img/sprite.svg#slider-btn-2"></use>
      </svg>
    </button>
    <div class="contract__toggle">
      <button class="btn-reset contract__toggle-btn contract__toggle-btn--active" aria-label="Переключить слайд"></button>
      <button class="btn-reset contract__toggle-btn" aria-label="Переключить слайд"></button>
      <button class="btn-reset contract__toggle-btn" aria-label="Переключить слайд"></button>
    </div>
  </div>
</section>
