<section class="addresses addresses-contacts">
  <div class="container addresses__flex">
    <h1 class="title addresses__title addresses__title--contacts">Контакты</h1>
    <div class="addresses__box-btn addresses__box-btn--contacts">
      <button class="btn-reset addresses__btn addresses__btn--active addresses__btn--contacts">Магазины</button>
      <button class="btn-reset addresses__btn addresses__btn--contacts">Офисы</button>
    </div>
    <div class="addresses__box-toggle addresses__box-toggle--contacts">
      <button class="btn-reset addresses__btn-toggle addresses__btn-toggle--active">На карте</button>
      <div class="addresses__toggle-border">
        <button class="btn-reset addresses__toggle" aria-label="Переключатель"></button>
      </div>
      <button class="btn-reset addresses__btn-toggle">Списком</button>
    </div>
    <ul class="list-reset addresses__list">
      <ul class="list-reset addresses__list-city">
        <li class="addresses__item addresses__item--active">Санкт-Петербург</li>
        <button class="btn-reset addresses__list-btn">
          <svg class="addresses__list-icon" width="20" height="25">
            <use xlink:href="img/sprite.svg#list-btn"></use>
          </svg>
        </button>
      </ul>
      <ul class="list-reset addresses__list-street">
        <li class="addresses__item">Проспект Коломяжский, д.15, корп.2</li>
        <li class="addresses__item">Проспект Наставников, д.19, стр 9</li>
        <li class="addresses__item">Проспект Московский, д.94, стр.лит 4</li>
        <li class="addresses__item">Проспект Наставников, д.33, стр 4</li>
        <li class="addresses__item">Проспект Ленинский, д.130/6</li>
        <li class="addresses__item">Проспект Коломяжский, д.15, корп.2</li>
        <li class="addresses__item">Ул. Фурштатская, д.40, стр 5</li>
        <li class="addresses__item">Проспект Наставников, д.33, стр 4</li>
        <li class="addresses__item">Проспект Наставников, д.33, стр 4</li>
        <li class="addresses__item">Проспект Наставников, д.33, стр 4</li>
        <li class="addresses__item">Проспект Наставников, д.33, стр 4</li>
        <li class="addresses__item">Проспект Наставников, д.33, стр 4</li>
        <li class="addresses__item">Проспект Наставников, д.33, стр 4</li>
      </ul>
    </ul>
    <iframe class="addresses__map" src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d511634.7096972542!2d29.534288402550292!3d59.93922590658233!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x4696378cc74a65ed%3A0x6dc7673fab848eff!2z0KHQsNC90LrRgi3Qn9C10YLQtdGA0LHRg9GA0LMsINCg0L7RgdGB0LjRjw!5e0!3m2!1sru!2s!4v1662315407312!5m2!1sru!2s"></iframe>
  </div>
</section>
