<div class="header__top-nav">
  <div class="top-nav">
    <div class="top-nav__wrapper">
      <a class="top-nav__address" href="https://yandex.ru/maps/-/CCUVY-rIWA" target="_blank">Санкт-Петербкрг</a>
    </div>
    <nav class="top-nav__navigation">
      <ul class="list-reset top-nav__list">
        <li class="top-nav__item">
          <a class="top-nav__link" href="blank.html">О компании</a>
        </li>
        <li class="top-nav__item">
          <a class="top-nav__link" href="blank.html">Партнерам</a>
        </li>
        <li class="top-nav__item">
          <a class="top-nav__link" href="contacts.html">Адреса</a>
        </li>
        <li class="top-nav__item">
          <a class="top-nav__link" href="news-page.html">Новости</a>
        </li>
      </ul>
    </nav>
    <p class="title top-nav__title">Оптовый интернет-магазин ювелтрных украшений</p>
    <div class="top-nav__wrapper top-nav__wrapper--phone">
      <a class="top-nav__phone" href="tel:+78123634744">+7 (812) 363-47-44</a>
    </div>
  </div>
</div>
