<div class="header__slider">
  <div class="container header__slider-flex">
    <p class="header__slider-description">
      Скидки до 20% на украшения из красного золота
    </p>
    <a class="btn header__slider-link" href="#">Подробнее</a>
    <div class="header__box-toggle">
      <button class="btn-reset header__toggle header__toggle--active" aria-label="Переключить слайд"></button>
      <button class="btn-reset header__toggle" aria-label="Переключить слайд"></button>
      <button class="btn-reset header__toggle" aria-label="Переключить слайд"></button>
    </div>
    <button class="btn-reset header__slider-btn header__slider-btn--previous" aria-label="Переключить слайд">
      <svg class="header__slider-btn-icon" width="27" height="11">
        <use xlink:href="img/sprite.svg#header-slider-btn"></use>
      </svg>
    </button>
    <button class="btn-reset header__slider-btn header__slider-btn--next" aria-label="Переключить слайд">
      <svg class="header__slider-btn-icon" width="27" height="11">
        <use xlink:href="img/sprite.svg#header-slider-btn"></use>
      </svg>
    </button>
    <div class="header__slider-score">
      <span class="header__slider-first">1</span>
      <span>|</span>
      <span class="header__slider-last">4</span>
    </div>
  </div>
</div>
