<nav class="header__nav">
  <ul class="list-reset header__nav-list">
    <li class="header__nav-item">
      <a class="header__nav-link" href="products-earrings.html">Серьги</a>
    </li>
    <li class="header__nav-item">
      <a class="header__nav-link" href="products-earrings.html">Кольца</a>
    </li>
    <li class="header__nav-item">
      <a class="header__nav-link" href="products-earrings.html">Браслеты</a>
    </li>
    <li class="header__nav-item">
      <a class="header__nav-link" href="products-earrings.html">Подвески</a>
    </li>
    <li class="header__nav-item">
      <a class="header__nav-link" href="products-earrings.html">Колье</a>
    </li>
    <li class="header__nav-item">
      <a class="header__nav-link" href="products-earrings.html">Пирсинг</a>
    </li>
    <li class="header__nav-item">
      <a class="header__nav-link" href="products-earrings.html">Броши</a>
    </li>
    <li class="header__nav-item">
      <a class="header__nav-link" href="products-earrings.html">Запонки</a>
    </li>
    <li class="header__nav-item">
      <a class="header__nav-link" href="products-earrings.html">Изделия с деревом</a>
    </li>
    <li class="header__nav-item">
      <a class="header__nav-link" href="products-earrings.html">Религиозные</a>
    </li>
    <li class="header__nav-item">
      <a class="header__nav-link" href="products-earrings.html">Подарки</a>
    </li>
    <li class="header__nav-item">
      <a class="header__nav-link" href="products-earrings.html">Коллекции</a>
    </li>
    <li class="header__nav-item">
      <a class="header__nav-link" href="products-earrings.html">Прочие</a>
    </li>
  </ul>
</nav>
