<nav class="header__nav">
  <ul class="list-reset header__nav-list">
    <li class="header__nav-item">
      <a class="header__nav-link" href="products-earrings.html">Серьги</a>
    </li>
    <li class="header__nav-item">
      <a class="header__nav-link" href="#">Кольца</a>
    </li>
    <li class="header__nav-item">
      <a class="header__nav-link" href="#">Браслеты</a>
    </li>
    <li class="header__nav-item">
      <a class="header__nav-link" href="#">Подвески</a>
    </li>
    <li class="header__nav-item">
      <a class="header__nav-link" href="#">Колье</a>
    </li>
    <li class="header__nav-item">
      <a class="header__nav-link" href="#">Пирсинг</a>
    </li>
    <li class="header__nav-item">
      <a class="header__nav-link" href="#">Броши</a>
    </li>
    <li class="header__nav-item">
      <a class="header__nav-link" href="#">Запонки</a>
    </li>
    <li class="header__nav-item">
      <a class="header__nav-link" href="#">Изделия с деревом</a>
    </li>
    <li class="header__nav-item">
      <a class="header__nav-link" href="#">Религиозные</a>
    </li>
    <li class="header__nav-item">
      <a class="header__nav-link" href="#">Подарки</a>
    </li>
    <li class="header__nav-item">
      <a class="header__nav-link" href="#">Коллекции</a>
    </li>
    <li class="header__nav-item">
      <a class="header__nav-link" href="#">Прочие</a>
    </li>
  </ul>
</nav>
