<div class="header__user-content">
  <div class="container header__flex">
    <div class="header__box">
      <button class="btn-reset btn-burger" aria-label="Открыть меню продукции"></button>
      <button class="btn-reset btn-search" aria-label="Открыть строку поика">
        <svg class="header__icon-search" width="19" height="19" role="img" aria-label="Иконка поиска">
          <use xlink:href="img/sprite.svg#search"></use>
        </svg>
      </button>
      <input class="header__search header__search--none" type="search" id="search" name="search" aria-label="Строка ввода для поиска товара">
    </div>

    <a class="header__link" href="index.html" aria-label="Переход на главную страницу">
      <img class="header__logo" src="img/logo/logo.png" alt="Логотип Sanis" width="63" height="46">
    </a>

    <div class="header__box">
      <a class="header__link" href="#" aria-label="Профиль пользователя">
        <svg class="header__icon-user" width="16" height="19" role="img" aria-label="Иконка пользователя">
          <use xlink:href="img/sprite.svg#user"></use>
        </svg>
      </a>
      <a class="header__link" href="basket.html" aria-label="Корзина товара пользователя">
        <svg class="header__icon-basket" width="18" height="21" role="img" aria-label="Иконка корзины">
          <use xlink:href="img/sprite.svg#basket"></use>
        </svg>
      </a>
    </div>
  </div>
</div>
