<div class="header__top-nav">
  <div class="top-nav">
    <a class="top-nav__address" href="https://yandex.ru/maps/-/CCUVY-rIWA" target="_blank">Санкт-Петербкрг</a><!-- Переполнение проверить -->
    <nav class="top-nav__navigation">
      <ul class="list-reset top-nav__list">
        <li class="top-nav__item">
          <a class="top-nav__link" href="#">О компании</a>
        </li>
        <li class="top-nav__item">
          <a class="top-nav__link" href="#">Партнерам</a>
        </li>
        <li class="top-nav__item">
          <a class="top-nav__link" href="contacts.html">Адреса</a>
        </li>
        <li class="top-nav__item">
          <a class="top-nav__link" href="news-page.html">Новости</a>
        </li>
      </ul>
    </nav>
    <h1 class="title top-nav__title">Оптовый интернет-магазин ювелтрных украшений</h1>
    <a class="top-nav__phone" href="tel:+78123634744">+7 (812) 363-47-44</a><!-- Переполнение проверить -->
  </div>
</div>
