<section class="new-products">
  <div class="container new-products__box">
    <h2 class="title title-decoration new-products__title">Новинки</h2>
    <ul class="list-reset new-products__list">
      <li class="new-products__item">
        <a class="new-products__link" href="#">
          <h3 class="new-products__link-title">Кольцо из белого золота с бриллиантами</h3>
          <img class="new-products__link-img" src="img/products/products-earrings.png" alt="Золотые серьги" width="193" height="191">
        </a>
        <p class="new-products__description">Состав: белое золото 585 пробы, бриллианты</p>
        <span class="products-icon products-icon--new">Новинка</span>
        <span class="products-icon products-icon--hit">Хит</span>
      </li>
      <li class="new-products__item">
        <a class="new-products__link" href="#">
          <h3 class="new-products__link-title">Кольцо из белого золота с бриллиантами</h3>
          <img class="new-products__link-img" src="img/products/products-earrings-2.png" alt="Золотые серьги" width="193" height="191">
        </a>
        <p class="new-products__description">Состав: белое золото 585 пробы, бриллианты</p>
        <span class="products-icon products-icon--new">Новинка</span>
        <span class="products-icon products-icon--hit">Хит</span>
      </li>
      <li class="new-products__item">
        <a class="new-products__link" href="#">
          <h3 class="new-products__link-title">Кольцо из белого золота с бриллиантами</h3>
          <img class="new-products__link-img" src="img/products/products-ring.png" alt="Золотое кольцо" width="193" height="191">
        </a>
        <p class="new-products__description">Состав: белое золото 585 пробы, бриллианты</p>
        <span class="products-icon products-icon--new">Новинка</span>
        <span class="products-icon products-icon--hit">Хит</span>
      </li>
      <li class="new-products__item">
        <a class="new-products__link" href="#">
          <h3 class="new-products__link-title">Кольцо из белого золота с бриллиантами</h3>
          <img class="new-products__link-img" src="img/products/products-ring-2.png" alt="Золотое кольцо" width="193" height="191">
        </a>
        <p class="new-products__description">Состав: белое золото 585 пробы, бриллианты</p>
        <span class="products-icon products-icon--hit products-icon--hit-only">Хит</span>
      </li>
      <li class="new-products__item">
        <a class="new-products__link" href="#">
          <h3 class="new-products__link-title">Кольцо из белого золота с бриллиантами</h3>
          <img class="new-products__link-img" src="img/products/products-earrings-3.png" alt="Золотые серьги" width="193" height="191">
        </a>
        <p class="new-products__description">Состав: белое золото 585 пробы, бриллианты</p>
        <span class="products-icon products-icon--new">Новинка</span>
        <span class="products-icon products-icon--hit">Хит</span>
      </li>
    </ul>
    <div class="banner">
      <p class="banner__description">
        Скидки до 20% на <br> украшения из красного <br> золота
      </p>
    </div>
    <button class="btn-reset new-products__btn new-products__btn--previous" aria-label="Переключить слайд">
      <svg class="new-product__btn-icon" width="13" height="12">
        <use xlink:href="img/sprite.svg#slider-btn-3"></use>
      </svg>
    </button>
    <button class="btn-reset new-products__btn new-products__btn--next" aria-label="Переключить слайд">
      <svg class="new-product__btn-icon" width="13" height="12">
        <use xlink:href="img/sprite.svg#slider-btn-3"></use>
      </svg>
    </button>
  </div>
</section>
