<section class="news">
  <div class="container news__box">
    <h2 class="title title-decoration news__title">Новости</h2>
    <ul class="list-reset news__list">
      <li class="news__item news__item--one">
        <a class="news__link-page" href="#">
          <picture>
            <source media="(min-width: 1920px)" srcset="img/news/news-desktop-1.jpg">
            <img class="news__img news__img--big" src="img/news/news-1.jpg" alt="Девушка надевает серьги" width="335" height="250">
          </picture>
          <div class="news__position">
            <time class="news__time news__time--bold" datetime="2022-03-16">16.03.2022</time>
            <p class="news__description news__description--big">Приглашаем вас в наш конференц-зал <br> на выставке <span>Junwex Петербург</span></p>
          </div>
        </a>
      </li>
      <li class="news__item news__item--two">
        <a class="news__link-page" href="#">
          <img class="news__img" src="img/news/news-2.jpg" alt="" width="335" height="250">
          <time class="news__time" datetime="2022-03-04">04.03.2022</time>
          <p class="news__description">Приглашаем вас в наш конференц-зал <br> на выставке <span>Junwex Петербург</span></p>
        </a>
      </li>
      <li class="news__item news__item--three">
        <a class="news__link-page" href="#">
          <img class="news__img" src="img/news/news-3.jpg" alt="" width="335" height="250">
          <time class="news__time" datetime="2022-03-04">04.03.2022</time>
          <p class="news__description">Приглашаем вас в наш конференц-зал <br> на выставке <span>Junwex Петербург</span></p>
        </a>
      </li>
      <li class="news__item news__item--four">
        <a class="news__link-page" href="#">
          <img class="news__img" src="img/news/news-4.jpg" alt="" width="335" height="250">
          <time class="news__time" datetime="2022-03-04">04.03.2022</time>
          <p class="news__description">Приглашаем вас в наш конференц-зал <br> на выставке <span>Junwex Петербург</span></p>
        </a>
      </li>
      <li class="news__item news__item--five">
        <a class="news__link-page" href="#">
          <img class="news__img" src="img/news/news-5.jpg" alt="" width="335" height="250">
          <time class="news__time" datetime="2022-03-04">04.03.2022</time>
          <p class="news__description">Приглашаем вас в наш конференц-зал <br> на выставке <span>Junwex Петербург</span></p>
        </a>
      </li>
    </ul>
    <a class="btn news__link" href="news-page.html">Все новости</a>
    <button class="btn-reset news__btn news__btn--previous">
      <svg class="news__btn-icon" width="15" height="14">
        <use xlink:href="img/sprite.svg#slider-btn"></use>
      </svg>
    </button>
    <button class="btn-reset news__btn news__btn--next">
      <svg class="news__btn-icon" width="15" height="14">
        <use xlink:href="img/sprite.svg#slider-btn"></use>
      </svg>
    </button>
  </div>
</section>
