<section class="news-page">
  <div class="container">
    <div class="news-page__top-blok">
      <h1 class="title news-page__title">Как носить крупные украшения и оставаться модной!</h1>
      <p class="news-page__description">
        Нравятся крупные кольца и подвески, но не понимаете, как и с чем их носить?
        Делимся секретами на примере нашей потрясающей коллекции объемных,
        &laquo;вкусных&raquo; украшений линейки <span class="transform">Couture</span>!
      </p>
    </div>
    <div class="news-page__blok news-page__blok--one">
      <div class="news-page__bg news-page__bg--news-1"></div>
      <div class="news-page__text-wrapper">
        <h2 class="news-page__title-second">Украшения Couture</h2>
        <p class="news-page__description">
          Украшения <span class="transform">Couture</span> – это история о красоте струящихся тканей и дизайнерских нарядов!
          О том, как лоскут или золотая застежка становятся главной деталью модного образа.
          Согласитесь, крупные украшения – это всегда вызов, эпатаж, стиль!
          Но если подобрать их неправильно,
          образ получится неестественный и ни о какой моде и стиле говорить уже не придется!
          И так, несколько простых правил,
          которые позволят вам без труда приручить харизматичные украшения!
        </p>
      </div>
    </div>
    <div class="news-page__blok news-page__blok--two">
      <div class="news-page__bg news-page__bg--news-2"></div>
      <div class="news-page__bg-set">
        <div class="news-page__bg news-page__bg--earrings-1"></div>
        <div class="news-page__bg news-page__bg--earrings-2"></div>
      </div>
      <div class="news-page__text-wrapper">
        <h2 class="news-page__title-second">Первое правило, которое необходимо всегда помнить</h2>
        <p class="news-page__description">
          Первое правило, которое необходимо всегда помнить,
          и не только при подборе крупных украшений, - не усложняйте!
          Супер-лаконичная и простая одежда – лучший вариант для statement-украшений.
          Не нужно пытаться соединить слишком пестрые принты и акцентные подвески.
          Позвольте украшению солировать в вырезе белой рубашки или стать
          еще заметнее в паре с однотонным платьем.
        </p>
      </div>
    </div>
    <div class="news-page__blok news-page__blok--three">
      <div class="news-page__bg news-page__bg--news-3"></div>
      <div class="news-page__text-wrapper">
        <h2 class="news-page__title-second">Второе важное правило</h2>
        <p class="news-page__description">
          Еще одно важное правило, чтобы крупные украшения смотрелись гармонично – объемные элементы одежды.
          И в этом тренд на &laquo;oversize&raquo; прекрасно подыгрывает таким ювелирным предпочтениям.
          Модные расклешенные рукава, пышные с оборкой, объёмные свитера!
          На таком фоне большие украшения выглядят наиболее выигрышно!
          И не забывайте еще про один плюс: гипертрофированный объём и в одежде,
          и в украшениях подчеркивает в женщине хрупкость, стройность и изящность.
      </div>
    </div>

    <div class="news-page__blok news-page__blok--four">
      <h2 class="news-page__title-second">Производство Sanis</h2>
      <div class="news-page__text-box">
        <p class="news-page__text">Если вы обладательница утонченной ручки, то тоже совсем не обязательно отказываться от объемных украшений, наоборот крупные кольца эффектно подчеркнут ваши тонкие пальчики и заставят обзавидоваться красоте ваших рук. В компаньонах такие украшения, как правило, не нуждаются, но если вы хотите, чтобы на вашей руке красовалась целая россыпь крупных колец, выберите несколько моделей, связанных единым мотивом.</p>
        <p class="news-page__text">А если вам кажется, что ваша ладошка слишком широка для крупных колец, гоните эти мысли прочь и смело примеряйте харизматичные колечки, даже самые широкие! Помните, объем «oversize» сделает ваши пальчики изящными и элегантными!</p>
        <p class="news-page__text">Наслаждайтесь нашими украшениями и сияйте вместе с нами!</p>
        <p class="news-page__text">Подписывайтесь на наши странички в социальных сетях и будте в курсе самых интересных новостей ювелирного мира!</p>
      </div>
      <ul class="list-reset news-page__list">
        <li class="news-page__item">
          <a class="news-page__link" href="#">
            <svg class="news-page__social" width="23" height="14">
              <use xlink:href="img/sprite.svg#vk"></use>
            </svg>
          </a>
        </li>
        <li class="news-page__item">
          <a class="news-page__link" href="#">
            <svg class="news-page__social" width="22" height="23">
              <use xlink:href="img/sprite.svg#instagram"></use>
            </svg>
          </a>
        </li>
        <li class="news-page__item">
          <a class="news-page__link" href="#">
            <svg class="news-page__social" width="10" height="20">
              <use xlink:href="img/sprite.svg#facebook"></use>
            </svg>
          </a>
        </li>
      </ul>
      <button class="btn-reset news-page__btn">Показать еще</button>
    </div>

    <div class="news-page__blok news-page__blok--five">
      <h2 class="news-page__title-second">Читайте также</h2>
      <ul class="list-reset news__list">
        <li class="news__item news__item--two">
          <figure class="news__figure">
            <img class="news__img news__img--news" src="img/news/news-2.jpg" alt="" width="335" height="250">
            <time class="news__time" datetime="2022-03-04">04.03.2022</time>
            <figcaption class="news__figcaption">Приглашаем вас в наш конференц-зал <br> на выставке <span>Junwex Петербург</span></figcaption>
          </figure>
        </li>
        <li class="news__item news__item--three">
          <figure class="news__figure">
            <img class="news__img" src="img/news/news-3.jpg" alt="" width="335" height="250">
            <time class="news__time" datetime="2022-03-04">04.03.2022</time>
            <figcaption class="news__figcaption">Приглашаем вас в наш конференц-зал <br> на выставке <span>Junwex Петербург</span></figcaption>
          </figure>
        </li>
        <li class="news__item news__item--four">
          <figure class="news__figure">
            <img class="news__img" src="img/news/news-4.jpg" alt="" width="335" height="250">
            <time class="news__time" datetime="2022-03-04">04.03.2022</time>
            <figcaption class="news__figcaption">Приглашаем вас в наш конференц-зал <br> на выставке <span>Junwex Петербург</span></figcaption>
          </figure>
        </li>
        <li class="news__item news__item--five">
          <figure class="news__figure">
            <img class="news__img" src="img/news/news-5.jpg" alt="" width="335" height="250">
            <time class="news__time" datetime="2022-03-04">04.03.2022</time>
            <figcaption class="news__figcaption">Приглашаем вас в наш конференц-зал <br> на выставке <span>Junwex Петербург</span></figcaption>
          </figure>
        </li>
      </ul>
      <button class="btn-reset news__btn news__btn--previous news__btn--previous-news">
        <svg class="news__btn-icon" width="15" height="14">
          <use xlink:href="img/sprite.svg#slider-btn"></use>
        </svg>
      </button>
      <button class="btn-reset news__btn news__btn--next news__btn--next-news">
        <svg class="news__btn-icon" width="15" height="14">
          <use xlink:href="img/sprite.svg#slider-btn"></use>
        </svg>
      </button>
    </div>
  </div>
</section>
