<section class="partners">
  <h1 class="visually-hidden">Оптовый интернет-магазин ювелтрных украшений</h1>
  <div class="container partners__box">
    <h2 class="title title-decoration partners__title">С нами сотрудничают</h2>
    <ul class="list-reset partners__list">
      <li class="partners__item">
        <a class="partners__link" href="#" target="_blank">
          <img class="partners__img" src="img/partners/aquamarine.png" alt="Аквамарин" width="213" height="108">
        </a>
      </li>
      <li class="partners__item">
        <a class="partners__link" href="#" target="_blank">
          <img class="partners__img" src="../img/partners/Golden-Calf.png" alt="Золотой телец" width="240" height="124">
        </a>
      </li>
      <li class="partners__item">
        <a class="partners__link" href="#" target="_blank">
          <img class="partners__img" src="../img/partners/jewelry-house.png" alt="Ювелирный дом" width="272" height="140">
        </a>
      </li>
      <li class="partners__item">
        <a class="partners__link" href="#" target="_blank">
          <img class="partners__img" src="../img/partners/carnelian.png" alt="Сердолик" width="211" height="108">
        </a>
      </li>
      <li class="partners__item">
        <a class="partners__link" href="#" target="_blank">
          <img class="partners__img" src="../img/partners/ounce.png" alt="Унция" width="241" height="124">
        </a>
      </li>
    </ul>
    <button class="btn-reset partners__btn partners__btn--previous" aria-label="Переключить слайд">
      <svg class="partners__btn-icon" width="15" height="14">
        <use xlink:href="img/sprite.svg#slider-btn"></use>
      </svg>
    </button>
    <button class="btn-reset partners__btn partners__btn--next" aria-label="Переключить слайд">
      <svg class="partners__btn-icon" width="15" height="14">
        <use xlink:href="img/sprite.svg#slider-btn"></use>
      </svg>
    </button>
  </div>
</section>
