<section class="production">
  <div class="container">
    <h2 class="title title-decoration production__title">Производство Sanis</h2>
    <p class="production__description">
      Ювелирный завод &laquo;Санис&raquo; основан в 1992&nbsp;году. <br>
      На&nbsp;сегодняшний день компания &laquo;Санис&raquo; является признанным грандом в&nbsp;области ювелирного дизайна и&nbsp;качества исполнения ювелирных украшений.
    </p>
    <div class="production__box">
      <video class="production__video production__video--mobile" src="video/video.mp4" preload="metadata" poster="img/poster/poster.jpg"></video>
      <video class="production__video production__video--desktop" src="video/video.mp4" preload="metadata" poster="img/poster/poster-desktop.jpg"></video>
      <button class="btn-reset production__controls" aria-label="Проигрывание видео ролика">
        <svg class="production__controls-icon" width="83" height="83">
          <use xlink:href="img/sprite.svg#controls"></use>
        </svg>
      </button>
      <button class="btn-reset production__controls production__controls--pause" aria-label="Пауза видео">
        <svg class="production__controls-icon" width="83" height="83">
          <use xlink:href="img/sprite.svg#pause"></use>
        </svg>
      </button>
    </div>
  </div>
</section>
