<section class="products">
  <div class="container">
    <h1 class="title products__title">Серьги</h1>
    <div class="products__box">
      <div class="products__filters">
        <button class="btn-reset products__btn-filters products__btn-filters--sort">Сортировка</button>
        <button class="btn-reset products__btn-filters products__btn-filters--filters">Фильтры</button>
      </div>
      <div class="category">
        <ul class="list-reset category__list">
          <li class="category__item">
            <a class="category__link category__link--busets" href="#">Пусеты</a>
          </li>
          <li class="category__item">
            <a class="category__link category__link--congo" href="#">Конго</a>
          </li>
          <li class="category__item">
            <a class="category__link category__link--stones" href="#">Полудрагоценные камни</a>
          </li>
          <li class="category__item">
            <a class="category__link category__link--category" href="#">Еще одна категория с длинным названием</a>
          </li>
        </ul>
      </div>
      <div class="sorting">
        <div class="sorting__box">
          <span class="sorting__text">Сортировать по</span>
          <button class="btn-reset sorting__btn sorting__btn--active sorting__btn--icon">убыванию цены</button>
        </div>
        <p class="sorting__quantity">45 товаров</p>
        <div class="sorting__box">
          <span class="sorting__text">Показывать по:</span>
          <button class="btn-reset sorting__btn">30</button>
          <button class="btn-reset sorting__btn sorting__btn--active">60</button>
        </div>
      </div>
      <form action="https://echo.htmlacademy.ru" method="post" class="filters" target="_blank">
        <div class="filters__box filters__box--type">
          <button class="btn-reset filters__list-btn filters__list-btn--type" type="button">Тип</button>
          <ul class="list-reset filters__list">
            <li class="filters__item">
              <input class="visually-hidden filters__checkbox" type="checkbox" id="earrings" name="earrings">
              <label class="filters__label" for="earrings">Серьги<span class="filters__label-amount">(58)</span></label>
            </li>
            <li class="filters__item">
              <input class="visually-hidden filters__checkbox" type="checkbox" id="rings" name="rings">
              <label class="filters__label" for="rings">Кольца<span class="filters__label-amount">(135)</span></label>
            </li>
            <li class="filters__item">
              <input class="visually-hidden filters__checkbox" type="checkbox" id="bracelets" name="bracelets" checked>
              <label class="filters__label" for="bracelets">Браслеты<span class="filters__label-amount">(120)</span></label>
            </li>
            <li class="filters__item">
              <input class="visually-hidden filters__checkbox" type="checkbox" id="suspensions" name="suspensions">
              <label class="filters__label" for="suspensions">Подвески<span class="filters__label-amount">(15)</span></label>
            </li>
            <li class="filters__item">
              <input class="visually-hidden filters__checkbox" type="checkbox" id="earrings-2" name="earrings">
              <label class="filters__label" for="earrings-2">Серьги<span class="filters__label-amount">(200)</span></label>
            </li>
            <li class="filters__item">
              <input class="visually-hidden filters__checkbox" type="checkbox" id="rings-2" name="rings">
              <label class="filters__label" for="rings-2">Кольца<span class="filters__label-amount">(80)</span></label>
            </li>
            <li class="filters__item">
              <input class="visually-hidden filters__checkbox" type="checkbox" id="bracelets-2" name="bracelets">
              <label class="filters__label" for="bracelets-2">Браслеты<span class="filters__label-amount">(10)</span></label>
            </li>
            <li class="filters__item">
              <input class="visually-hidden filters__checkbox" type="checkbox" id="suspensions-2" name="suspensions">
              <label class="filters__label" for="suspensions-2">Подвески<span class="filters__label-amount">(5)</span></label>
            </li>
          </ul>
        </div>
        <div class="filters__prise">
          <button class="btn-reset filters__list-btn filters__list-btn--price" type="button">Цены</button>
          <div class="filters__prise-box">
            <div class="filters__prise-box filters__prise-box--input-price">
              <input class="filters__prise-input" type="number" name="min-prise" id="min-prise" placeholder="10 000">
              <label class="visually-hidden" for="min-prise">Минимальная стоймость</label>
              <span class="filters__prise-dash">&mdash;</span>
              <input class="filters__prise-input" type="number" name="max-prise" id="max-prise" placeholder="1 034 000">
              <label class="visually-hidden" for="max-prise">Максимальная стоймость</label>
            </div>
            <div class="filters__prise-box filters__prise-box--toggles">
              <div class="filters__prise-line">
                <button class="btn-reset filters__prise-toggle filters__prise-toggle--min"></button>
                <button class="btn-reset filters__prise-toggle filters__prise-toggle--max"></button>
              </div>
            </div>
          </div>
        </div>
        <div class="filters__box filters__box--material">
          <button class="btn-reset filters__list-btn filters__list-btn--material" type="button">Материал</button>
          <ul class="list-reset filters__list">
            <li class="filters__item">
              <input class="visually-hidden filters__checkbox" type="checkbox" id="red-gold" name="red-gold">
              <label class="filters__label" for="red-gold">Красное золото</label>
            </li>
            <li class="filters__item">
              <input class="visually-hidden filters__checkbox" type="checkbox" id="white-gold" name="white-gold">
              <label class="filters__label" for="white-gold">Белое золото</label>
            </li>
            <li class="filters__item">
              <input class="visually-hidden filters__checkbox" type="checkbox" id="lemon-gold" name="lemon-gold">
              <label class="filters__label" for="lemon-gold">Лимонное золото</label>
            </li>
            <li class="filters__item">
              <input class="visually-hidden filters__checkbox" type="checkbox" id="rodi-gold" name="rodi-gold">
              <label class="filters__label" for="rodi-gold">Родированное золото</label>
            </li>
          </ul>
        </div>
        <div class="filters__box filters__box--insert">
          <button class="btn-reset filters__list-btn filters__list-btn--material-insert" type="button">Материал вставки</button>
          <ul class="list-reset filters__list">
            <li class="filters__item">
              <input class="visually-hidden filters__checkbox" type="checkbox" id="inser-off" name="inser-off">
              <label class="filters__label" for="inser-off">Без вставок</label>
            </li>
            <li class="filters__item">
              <input class="visually-hidden filters__checkbox" type="checkbox" id="pearl" name="pearl">
              <label class="filters__label" for="pearl">Жемчуг</label>
            </li>
            <li class="filters__item">
              <input class="visually-hidden filters__checkbox" type="checkbox" id="fianit" name="fianit">
              <label class="filters__label" for="fianit">Фианиты</label>
            </li>
          </ul>
        </div>
        <div class="filters__btn-box">
          <button class="btn-reset btn filters__btn" type="submit">Преминить</button>
          <button class="btn-reset btn filters__btn" type="reset">Сбросить все фильтры</button>
        </div>
      </form>
      <ul class="list-reset products__list products__list--mobile">
        <li class="products__item">
          <h3 class="products__title-second">Кольцо из белого золота с бриллиантами</h3>
          <a class="products__link" href="product-page.html" target="_blank" aria-label="Переход на страницу товара">
            <img class="products__link-img" src="img/products/products-1.png" alt="" width="124" height="200">
          </a>
          <p class="products__prise">24 000 &#8381;<span class="products__prise-old">44 000 &#8381;</span></p>
          <span class="products__icon products__icon--new">Новинка</span>
          <span class="products__icon products__icon--hit">Хит</span>
          <span class="products__icon products__icon--discount">-22%</span>
        </li>
        <li class="products__item">
          <h3 class="products__title-second">Кольцо из белого золота с бриллиантами</h3>
          <a class="products__link" href="product-page.html" target="_blank" aria-label="Переход на страницу товара">
            <img class="products__link-img" src="img/products/products-2.png" alt="" width="165" height="200">
          </a>
          <p class="products__prise">35 000 &#8381;<span class="products__prise-old">37 000 &#8381;</span></p>
          <span class="products__icon products__icon--new">Новинка</span>
          <span class="products__icon products__icon--discount">-9%</span>
        </li>
        <li class="products__item">
          <h3 class="products__title-second">Подвеска из дерева и золота</h3>
          <a class="products__link" href="product-page.html" target="_blank" aria-label="Переход на страницу товара">
            <img class="products__link-img" src="img/products/products-3.png" alt="" width="165" height="165">
          </a>
          <p class="products__prise">24 000 &#8381;<span class="products__prise-old">44 000 &#8381;</span></p>
          <span class="products__icon products__icon--hit products__icon--hit-only">Хит</span>
          <span class="products__icon products__icon--discount">-7%</span>
        </li>
        <li class="products__item">
          <h3 class="products__title-second">Кольцо из белого золота с бриллиантами</h3>
          <a class="products__link" href="product-page.html" target="_blank" aria-label="Переход на страницу товара">
            <img class="products__link-img" src="img/products/products-4.png" alt="" width="147" height="144">
          </a>
          <p class="products__prise">35 000 &#8381;<span class="products__prise-old">37 000 &#8381;</span></p>
          <span class="products__icon products__icon--new">Новинка</span>
          <span class="products__icon products__icon--discount">-9%</span>
        </li>
        <li class="products__item products__item--big">
          <h3 class="products__title-second">Кольцо из белого золота с бриллиантами</h3>
          <a class="products__link products__link--big" href="product-page.html" target="_blank" aria-label="Переход на страницу товара">
            <img class="products__link-img" src="img/products/products-5.png" alt="" width="335" height="281">
          </a>
          <p class="products__prise">90 000 &#8381;<span class="products__prise-old">120 000 &#8381;</span></p>
        </li>
        <li class="products__item">
          <h3 class="products__title-second">Кольцо из белого золота с бриллиантами</h3>
          <a class="products__link" href="product-page.html" target="_blank" aria-label="Переход на страницу товара">
            <img class="products__link-img" src="img/products/products-6.png" alt="" width="164" height="164">
          </a>
          <p class="products__prise">24 000 &#8381;<span class="products__prise-old">44 000 &#8381;</span></p>
          <span class="products__icon products__icon--new">Новинка</span>
          <span class="products__icon products__icon--hit">Хит</span>
          <span class="products__icon products__icon--discount">-22%</span>
        </li>
        <li class="products__item">
          <h3 class="products__title-second">Кольцо из белого золота с бриллиантами</h3>
          <a class="products__link" href="product-page.html" target="_blank" aria-label="Переход на страницу товара">
            <img class="products__link-img" src="img/products/products-7.png" alt="" width="162" height="165">
          </a>
          <p class="products__prise">35 000 &#8381;<span class="products__prise-old">37 000 &#8381;</span></p>
          <span class="products__icon products__icon--new">Новинка</span>
          <span class="products__icon products__icon--discount">-9%</span>
        </li>
        <li class="products__item">
          <h3 class="products__title-second">Подвеска из дерева и золота</h3>
          <a class="products__link" href="product-page.html" target="_blank" aria-label="Переход на страницу товара">
            <img class="products__link-img" src="img/products/products-8.png" alt="" width="147" height="147">
          </a>
          <p class="products__prise">24 000 &#8381;<span class="products__prise-old">44 000 &#8381;</span></p>
          <span class="products__icon products__icon--hit products__icon--hit-only">Хит</span>
          <span class="products__icon products__icon--discount">-7%</span>
        </li>
        <li class="products__item">
          <h3 class="products__title-second">Кольцо из белого золота с бриллиантами</h3>
          <a class="products__link" href="product-page.html" target="_blank" aria-label="Переход на страницу товара">
            <img class="products__link-img" src="img/products/products-9.png" alt="" width="160" height="160">
          </a>
          <p class="products__prise">35 000 &#8381;<span class="products__prise-old">37 000 &#8381;</span></p>
          <span class="products__icon products__icon--new">Новинка</span>
          <span class="products__icon products__icon--discount">-9%</span>
        </li>
        <li class="products__item">
          <h3 class="products__title-second">Кольцо из белого золота с бриллиантами</h3>
          <a class="products__link" href="product-page.html" target="_blank" aria-label="Переход на страницу товара">
            <img class="products__link-img" src="img/products/products-1.png" alt="" width="124" height="200">
          </a>
          <p class="products__prise">24 000 &#8381;<span class="products__prise-old">44 000 &#8381;</span></p>
          <span class="products__icon products__icon--new">Новинка</span>
          <span class="products__icon products__icon--hit">Хит</span>
          <span class="products__icon products__icon--discount">-22%</span>
        </li>
        <li class="products__item">
          <h3 class="products__title-second">Кольцо из белого золота с бриллиантами</h3>
          <a class="products__link" href="product-page.html" target="_blank" aria-label="Переход на страницу товара">
            <img class="products__link-img" src="img/products/products-2.png" alt="" width="165" height="200">
          </a>
          <p class="products__prise">35 000 &#8381;<span class="products__prise-old">37 000 &#8381;</span></p>
          <span class="products__icon products__icon--new">Новинка</span>
          <span class="products__icon products__icon--discount">-9%</span>
        </li>
        <li class="products__item">
          <h3 class="products__title-second">Подвеска из дерева и золота</h3>
          <a class="products__link" href="product-page.html" target="_blank" aria-label="Переход на страницу товара">
            <img class="products__link-img" src="img/products/products-3.png" alt="" width="165" height="165">
          </a>
          <p class="products__prise">24 000 &#8381;<span class="products__prise-old">44 000 &#8381;</span></p>
          <span class="products__icon products__icon--hit products__icon--hit-only">Хит</span>
          <span class="products__icon products__icon--discount">-7%</span>
        </li>
        <li class="products__item">
          <h3 class="products__title-second">Кольцо из белого золота с бриллиантами</h3>
          <a class="products__link" href="product-page.html" target="_blank" aria-label="Переход на страницу товара">
            <img class="products__link-img" src="img/products/products-4.png" alt="" width="147" height="144">
          </a>
          <p class="products__prise">35 000 &#8381;<span class="products__prise-old">37 000 &#8381;</span></p>
          <span class="products__icon products__icon--new">Новинка</span>
          <span class="products__icon products__icon--discount">-9%</span>
        </li>
        <li class="products__item products__item--big">
          <h3 class="products__title-second">Кольцо из белого золота с бриллиантами</h3>
          <a class="products__link products__link--big" href="product-page.html" target="_blank" aria-label="Переход на страницу товара">
            <img class="products__link-img" src="img/products/products-5.png" alt="" width="335" height="281">
          </a>
          <p class="products__prise">90 000 &#8381;<span class="products__prise-old">120 000 &#8381;</span></p>
        </li>
        <li class="products__item">
          <h3 class="products__title-second">Кольцо из белого золота с бриллиантами</h3>
          <a class="products__link" href="product-page.html" target="_blank" aria-label="Переход на страницу товара">
            <img class="products__link-img" src="img/products/products-6.png" alt="" width="164" height="164">
          </a>
          <p class="products__prise">24 000 &#8381;<span class="products__prise-old">44 000 &#8381;</span></p>
          <span class="products__icon products__icon--new">Новинка</span>
          <span class="products__icon products__icon--hit">Хит</span>
          <span class="products__icon products__icon--discount">-22%</span>
        </li>
        <li class="products__item">
          <h3 class="products__title-second">Кольцо из белого золота с бриллиантами</h3>
          <a class="products__link" href="product-page.html" target="_blank" aria-label="Переход на страницу товара">
            <img class="products__link-img" src="img/products/products-7.png" alt="" width="162" height="165">
          </a>
          <p class="products__prise">35 000 &#8381;<span class="products__prise-old">37 000 &#8381;</span></p>
          <span class="products__icon products__icon--new">Новинка</span>
          <span class="products__icon products__icon--discount">-9%</span>
        </li>
        <li class="products__item">
          <h3 class="products__title-second">Подвеска из дерева и золота</h3>
          <a class="products__link" href="product-page.html" target="_blank" aria-label="Переход на страницу товара">
            <img class="products__link-img" src="img/products/products-8.png" alt="" width="147" height="147">
          </a>
          <p class="products__prise">24 000 &#8381;<span class="products__prise-old">44 000 &#8381;</span></p>
          <span class="products__icon products__icon--hit products__icon--hit-only">Хит</span>
          <span class="products__icon products__icon--discount">-7%</span>
        </li>
        <li class="products__item">
          <h3 class="products__title-second">Кольцо из белого золота с бриллиантами</h3>
          <a class="products__link" href="product-page.html" target="_blank" aria-label="Переход на страницу товара">
            <img class="products__link-img" src="img/products/products-9.png" alt="" width="160" height="160">
          </a>
          <p class="products__prise">35 000 &#8381;<span class="products__prise-old">37 000 &#8381;</span></p>
          <span class="products__icon products__icon--new">Новинка</span>
          <span class="products__icon products__icon--discount">-9%</span>
        </li>
      </ul>

      <ul class="list-reset products__list products__list--desktop">
        <li class="products__item">
          <h3 class="products__title-second">Кольцо из белого золота с бриллиантами</h3>
          <a class="products__link" href="product-page.html" target="_blank" aria-label="Переход на страницу товара">
            <img class="products__link-img" src="img/products/products-2.png" alt="" width="256" height="256">
          </a>
          <p class="products__prise">24 000 &#8381;<span class="products__prise-old">44 000 &#8381;</span></p>
          <span class="products__icon products__icon--new">Новинка</span>
          <span class="products__icon products__icon--hit">Хит</span>
          <span class="products__icon products__icon--discount">-15%</span>
        </li>
        <li class="products__item">
          <h3 class="products__title-second">Подвеска из дерева и золота</h3>
          <a class="products__link" href="product-page.html" target="_blank" aria-label="Переход на страницу товара">
            <img class="products__link-img" src="img/products/products-1.png" alt="" width="172" height="275">
          </a>
          <p class="products__prise">35 000 &#8381;<span class="products__prise-old">65 000 &#8381;</span></p>
          <span class="products__icon products__icon--new">Новинка</span>
          <span class="products__icon products__icon--discount">-22%</span>
        </li>
        <li class="products__item">
          <h3 class="products__title-second">Кольцо из белого золота <br> с бриллиантами</h3>
          <a class="products__link" href="product-page.html" target="_blank" aria-label="Переход на страницу товара">
            <img class="products__link-img" src="img/products/products-desctop-10.png" alt="" width="310" height="335">
          </a>
          <p class="products__prise">19 000 &#8381;</p>
          <span class="products__icon products__icon--hit products__icon--hit-only">Хит</span>
        </li>
        <li class="products__item">
          <h3 class="products__title-second">Кольцо из белого золота с бриллиантами</h3>
          <a class="products__link" href="product-page.html" target="_blank" aria-label="Переход на страницу товара">
            <img class="products__link-img" src="img/products/products-3.png" alt="" width="282" height="282">
          </a>
          <p class="products__prise">21 000 &#8381;<span class="products__prise-old">24 000 &#8381;</span></p>
          <span class="products__icon products__icon--new">Новинка</span>
          <span class="products__icon products__icon--hit">Хит</span>
          <span class="products__icon products__icon--discount">-30%</span>
        </li>
        <li class="products__item">
          <h3 class="products__title-second">Кольцо из белого золота с бриллиантами</h3>
          <a class="products__link" href="product-page.html" target="_blank" aria-label="Переход на страницу товара">
            <img class="products__link-img" src="img/products/products-5.png" alt="" width="270" height="222">
          </a>
          <p class="products__prise">135 000 &#8381;<span class="products__prise-old">184 000 &#8381;</span></p>
          <span class="products__icon products__icon--hit products__icon--hit-only">Хит</span>
          <span class="products__icon products__icon--discount">-15%</span>
        </li>
        <li class="products__item">
          <h3 class="products__title-second">Подвеска из дерева и золота</h3>
          <a class="products__link" href="product-page.html" target="_blank" aria-label="Переход на страницу товара">
            <img class="products__link-img" src="img/products/products-desctop-11.png" alt="" width="271" height="271">
          </a>
          <p class="products__prise">18 000 &#8381;<span class="products__prise-old">23 000 &#8381;</span></p>
          <span class="products__icon products__icon--new">Новинка</span>
          <span class="products__icon products__icon--discount">-22%</span>
        </li>
        <li class="products__item">
          <h3 class="products__title-second">Кольцо из белого золота <br> с бриллиантами</h3>
          <a class="products__link" href="product-page.html" target="_blank" aria-label="Переход на страницу товара">
            <img class="products__link-img" src="img/products/products-7.png" alt="" width="301" height="281">
          </a>
          <p class="products__prise">9 000 &#8381;</p>
          <span class="products__icon products__icon--hit products__icon--hit-only">Хит</span>
        </li>
        <li class="products__item">
          <h3 class="products__title-second">Кольцо из белого золота с бриллиантами</h3>
          <a class="products__link" href="product-page.html" target="_blank" aria-label="Переход на страницу товара">
            <img class="products__link-img" src="img/products/products-desctop-12.png" alt="" width="257" height="248">
          </a>
          <p class="products__prise">25 000 &#8381;<span class="products__prise-old">28 000 &#8381;</span></p>
          <span class="products__icon products__icon--new">Новинка</span>
          <span class="products__icon products__icon--discount">-30%</span>
        </li>
        <li class="products__item">
          <h3 class="products__title-second">Кольцо из белого золота с бриллиантами</h3>
          <a class="products__link" href="product-page.html" target="_blank" aria-label="Переход на страницу товара">
            <img class="products__link-img" src="img/products/products-8.png" alt="" width="233" height="233">
          </a>
          <p class="products__prise">24 000 &#8381;<span class="products__prise-old">44 000 &#8381;</span></p>
          <span class="products__icon products__icon--new">Новинка</span>
          <span class="products__icon products__icon--hit">Хит</span>
          <span class="products__icon products__icon--discount">-15%</span>
        </li>
        <li class="products__item">
          <h3 class="products__title-second">Подвеска из дерева и золота</h3>
          <a class="products__link" href="product-page.html" target="_blank" aria-label="Переход на страницу товара">
            <img class="products__link-img" src="img/products/products-4.png" alt="" width="240" height="235">
          </a>
          <p class="products__prise">35 000 &#8381;<span class="products__prise-old">65 000 &#8381;</span></p>
          <span class="products__icon products__icon--new">Новинка</span>
          <span class="products__icon products__icon--discount">-22%</span>
        </li>
        <li class="products__item">
          <h3 class="products__title-second">Кольцо из белого золота <br> с бриллиантами</h3>
          <a class="products__link" href="product-page.html" target="_blank" aria-label="Переход на страницу товара">
            <img class="products__link-img" src="img/products/products-6.png" alt="" width="265" height="265">
          </a>
          <p class="products__prise">19 000 &#8381;</p>
          <span class="products__icon products__icon--hit products__icon--hit-only">Хит</span>
        </li>
        <li class="products__item">
          <h3 class="products__title-second">Кольцо из белого золота с бриллиантами</h3>
          <a class="products__link" href="product-page.html" target="_blank" aria-label="Переход на страницу товара">
            <img class="products__link-img" src="img/products/products-desctop-13.png" alt="" width="204" height="278">
          </a>
          <p class="products__prise">21 000 &#8381;<span class="products__prise-old">24 000 &#8381;</span></p>
          <span class="products__icon products__icon--new">Новинка</span>
          <span class="products__icon products__icon--hit">Хит</span>
          <span class="products__icon products__icon--discount">-30%</span>
        </li>
        <li class="products__item">
          <h3 class="products__title-second">Кольцо из белого золота с бриллиантами</h3>
          <a class="products__link" href="product-page.html" target="_blank" aria-label="Переход на страницу товара">
            <img class="products__link-img" src="img/products/products-2.png" alt="" width="256" height="256">
          </a>
          <p class="products__prise">24 000 &#8381;<span class="products__prise-old">44 000 &#8381;</span></p>
          <span class="products__icon products__icon--new">Новинка</span>
          <span class="products__icon products__icon--hit">Хит</span>
          <span class="products__icon products__icon--discount">-15%</span>
        </li>
        <li class="products__item">
          <h3 class="products__title-second">Подвеска из дерева и золота</h3>
          <a class="products__link" href="product-page.html" target="_blank" aria-label="Переход на страницу товара">
            <img class="products__link-img" src="img/products/products-1.png" alt="" width="172" height="275">
          </a>
          <p class="products__prise">35 000 &#8381;<span class="products__prise-old">65 000 &#8381;</span></p>
          <span class="products__icon products__icon--new">Новинка</span>
          <span class="products__icon products__icon--discount">-22%</span>
        </li>
        <li class="products__item">
          <h3 class="products__title-second">Кольцо из белого золота <br> с бриллиантами</h3>
          <a class="products__link" href="product-page.html" target="_blank" aria-label="Переход на страницу товара">
            <img class="products__link-img" src="img/products/products-desctop-10.png" alt="" width="310" height="335">
          </a>
          <p class="products__prise">19 000 &#8381;</p>
          <span class="products__icon products__icon--hit products__icon--hit-only">Хит</span>
        </li>
        <li class="products__item">
          <h3 class="products__title-second">Кольцо из белого золота с бриллиантами</h3>
          <a class="products__link" href="product-page.html" target="_blank" aria-label="Переход на страницу товара">
            <img class="products__link-img" src="img/products/products-3.png" alt="" width="282" height="282">
          </a>
          <p class="products__prise">21 000 &#8381;<span class="products__prise-old">24 000 &#8381;</span></p>
          <span class="products__icon products__icon--new">Новинка</span>
          <span class="products__icon products__icon--hit">Хит</span>
          <span class="products__icon products__icon--discount">-30%</span>
        </li>
        <li class="products__item">
          <h3 class="products__title-second">Кольцо из белого золота с бриллиантами</h3>
          <a class="products__link" href="product-page.html" target="_blank" aria-label="Переход на страницу товара">
            <img class="products__link-img" src="img/products/products-5.png" alt="" width="270" height="222">
          </a>
          <p class="products__prise">135 000 &#8381;<span class="products__prise-old">184 000 &#8381;</span></p>
          <span class="products__icon products__icon--hit products__icon--hit-only">Хит</span>
          <span class="products__icon products__icon--discount">-15%</span>
        </li>
        <li class="products__item">
          <h3 class="products__title-second">Подвеска из дерева и золота</h3>
          <a class="products__link" href="product-page.html" target="_blank" aria-label="Переход на страницу товара">
            <img class="products__link-img" src="img/products/products-desctop-11.png" alt="" width="271" height="271">
          </a>
          <p class="products__prise">18 000 &#8381;<span class="products__prise-old">23 000 &#8381;</span></p>
          <span class="products__icon products__icon--new">Новинка</span>
          <span class="products__icon products__icon--discount">-22%</span>
        </li>
        <li class="products__item">
          <h3 class="products__title-second">Кольцо из белого золота <br> с бриллиантами</h3>
          <a class="products__link" href="product-page.html" target="_blank" aria-label="Переход на страницу товара">
            <img class="products__link-img" src="img/products/products-7.png" alt="" width="301" height="281">
          </a>
          <p class="products__prise">9 000 &#8381;</p>
          <span class="products__icon products__icon--hit products__icon--hit-only">Хит</span>
        </li>
        <li class="products__item">
          <h3 class="products__title-second">Кольцо из белого золота с бриллиантами</h3>
          <a class="products__link" href="product-page.html" target="_blank" aria-label="Переход на страницу товара">
            <img class="products__link-img" src="img/products/products-desctop-12.png" alt="" width="257" height="248">
          </a>
          <p class="products__prise">25 000 &#8381;<span class="products__prise-old">28 000 &#8381;</span></p>
          <span class="products__icon products__icon--new">Новинка</span>
          <span class="products__icon products__icon--discount">-30%</span>
        </li>
        <li class="products__item">
          <h3 class="products__title-second">Кольцо из белого золота с бриллиантами</h3>
          <a class="products__link" href="product-page.html" target="_blank" aria-label="Переход на страницу товара">
            <img class="products__link-img" src="img/products/products-8.png" alt="" width="233" height="233">
          </a>
          <p class="products__prise">24 000 &#8381;<span class="products__prise-old">44 000 &#8381;</span></p>
          <span class="products__icon products__icon--new">Новинка</span>
          <span class="products__icon products__icon--hit">Хит</span>
          <span class="products__icon products__icon--discount">-15%</span>
        </li>
        <li class="products__item">
          <h3 class="products__title-second">Подвеска из дерева и золота</h3>
          <a class="products__link" href="product-page.html" target="_blank" aria-label="Переход на страницу товара">
            <img class="products__link-img" src="img/products/products-4.png" alt="" width="240" height="235">
          </a>
          <p class="products__prise">35 000 &#8381;<span class="products__prise-old">65 000 &#8381;</span></p>
          <span class="products__icon products__icon--new">Новинка</span>
          <span class="products__icon products__icon--discount">-22%</span>
        </li>
        <li class="products__item">
          <h3 class="products__title-second">Кольцо из белого золота <br> с бриллиантами</h3>
          <a class="products__link" href="product-page.html" target="_blank" aria-label="Переход на страницу товара">
            <img class="products__link-img" src="img/products/products-6.png" alt="" width="265" height="265">
          </a>
          <p class="products__prise">19 000 &#8381;</p>
          <span class="products__icon products__icon--hit products__icon--hit-only">Хит</span>
        </li>
        <li class="products__item">
          <h3 class="products__title-second">Кольцо из белого золота с бриллиантами</h3>
          <a class="products__link" href="product-page.html" target="_blank" aria-label="Переход на страницу товара">
            <img class="products__link-img" src="img/products/products-desctop-13.png" alt="" width="204" height="278">
          </a>
          <p class="products__prise">21 000 &#8381;<span class="products__prise-old">24 000 &#8381;</span></p>
          <span class="products__icon products__icon--new">Новинка</span>
          <span class="products__icon products__icon--hit">Хит</span>
          <span class="products__icon products__icon--discount">-30%</span>
        </li>
      </ul>
      <div class="products__set-bar">
        <button class="btn-reset btn products__btn">Показать еще</button>
        <div class="set-bar">
          <button class="btn-reset set-bar__btn" aria-label="Переключить страницу каталога">&#8249;</button>
          <ul class="list-reset set-bar__list">
            <li class="set-bar__item">
              <a class="set-bar__link" href="#" aria-label="Номер страницы">1</a>
            </li>
            <li class="set-bar__item">
              <a class="set-bar__link set-bar__link--active" href="#" aria-label="Номер страницы">2</a>
            </li>
            <li class="set-bar__item">
              <a class="set-bar__link" href="#" aria-label="Номер страницы">3</a>
            </li>
            <li class="set-bar__item">
              <a class="set-bar__link" href="#" aria-label="Номер страницы">4</a>
            </li>
            <li class="set-bar__item set-bar__item--dotted">
              <a class="set-bar__link" href="#" aria-label="Номер страницы">...</a>
            </li>
            <li class="set-bar__item">
              <a class="set-bar__link" href="#" aria-label="Номер страницы">8</a>
            </li>
          </ul>
          <button class="btn-reset set-bar__btn" aria-label="Переключить страницу каталога">&#8250;</button>
        </div>
        <p class="set-bar__shown">Показано<span class="set-bar__shown-now">30</span>/<span class="set-bar__shown-max">45</span></p>
      </div>
    </div>
  </div>
</section>
