.catalog {
  margin-bottom: 76px;
}

.catalog__title {
  padding-bottom: 25px;
  margin-bottom: 32px;
}

.catalog__list {
  @include flex;
  flex-wrap: wrap;
  column-gap: 9px;
  row-gap: 29px;
  margin-bottom: 37px;
}

.catalog__item {
  @include flex;
  flex-direction: column;
  &:hover {
    box-shadow: 2px 2px 17px -4px rgba($black, 0.3);
  }
}

.catalog__product-title {
  margin: 0;
  font-weight: 400;
  font-size: 20px;
  line-height: 24px;
  order: 1;
  &--text::first-letter {
    text-transform: uppercase;
  }
}

.catalog__probuct-bg {
  width: 163px;
  height: 163px;
  background-color: $seashell;
  border-radius: 10px;
  margin-bottom: 7px;
}

.catalog__link {
  display: block;
  min-width: 163px;
  min-height: 163px;
  border-radius: 10px;
  &--necklace {
    background: url(../img/catalog/Necklace.png) no-repeat center;
    background-size: 163px 163px;
  }
  &--rings {
    background: url(../img/catalog/Rings.png) no-repeat center;
    background-size: 126px 143px;
  }
  &--bracelets {
    background: url(../img/catalog/Bracelets.png) no-repeat center;
    background-size: 163px 163px;
  }
  &--suspensions {
    background: url(../img/catalog/suspensions.png) no-repeat center;
    background-size: 163px 163px;
  }
  &--cufflinks {
    background: url(../img/catalog/cufflinks.png) no-repeat center;
    background-size: 163px 125px;
  }
  &--gifts {
    background: url(../img/catalog/gifts.png) no-repeat center;
    background-size: 159px 155px;
  }
  &--religious {
    background: url(../img/catalog/religious.png) no-repeat center;
    background-size: 129px 157px;
  }
  &--wood {
    background: url(../img/catalog/wood.png) no-repeat center;
    background-size: 114px 153px;
  }
  &--collections {
    background: url(../img/catalog/collections.png) no-repeat center;
    background-size: 143px 127px;
  }
  &--brooches {
    background: url(../img/catalog/brooches.png) no-repeat center;
    background-size: 163px 162px;
  }
}

.catalog__link-all {
  border: 2px solid $black;
  width: 100%;
  min-height: 40px;
  color: inherit;
  &:hover {
    color: $white;
    background-color: $black;
  }
  &:active {
    color: $black;
    background-color: transparent;
    opacity: 0.5;
  }
}

@include tablet {
  .catalog {
    margin-bottom: 120px;
  }

  .catalog__flex {
    @include flex-all-center;
    flex-direction: column;
  }

  .catalog__title {
    margin-bottom: 36px;
  }

  .catalog__link-all {
    width: 100%;
    color: $white;
    background-color: $black;
    &:hover {
      color: $black;
      background-color: transparent;
    }
  }

  .catalog__list {
    display: grid;
    grid-template-columns: repeat(5, 200px);
    grid-template-rows: repeat(4, 300px);
    gap: 10px;
    margin-bottom: 46px;
  }

  .catalog__item {
    position: relative;
    background-color: $seashell;
    border-radius: 10px;
    &--necklace {
      grid-column: 1/5;
      grid-row: 1/3;
    }
    &--rings {
      grid-column: 5/6;
      grid-row: 1/2;
    }
    &--bracelets {
      grid-column: 5/6;
      grid-row: 2/3;
    }
    &--suspensions {
      grid-column: 1/2;
      grid-row: 3/4;
    }
    &--cufflinks {
      grid-column: 2/5;
      grid-row: 3/4;
    }
    &--gifts {
      grid-column: 5/6;
      grid-row: 3/4;
    }
    &--religious {
      grid-column: 1/2;
      grid-row: 4/5;
    }
    &--wood {
      grid-column: 2/3;
      grid-row: 4/5;
    }
    &--collections {
      grid-column: 3/4;
      grid-row: 4/5;
    }
    &--brooches {
      grid-column: 4/5;
      grid-row: 4/5;
    }
    &--piercing {
      grid-column: 5/6;
      grid-row: 4/5;
    }
  }

  .catalog__product-title {
    order: 0;
    padding: 25px 0 0 20px;
    &--text::before {
      content: "Изделия ";
    }
  }

  .catalog__probuct-bg {
    width: 0;
    height: 0;
    background-color: $seashell;
    border-radius: 10px;
    margin-bottom: 0;
  }

  .catalog__link {
    position: absolute;
    top: 50%;
    left: 50%;
    margin-right: -50%;
    transform: translate(-50%, -50%);
    &--necklace {
      min-width: 630px;
      min-height: 300px;
      background: url(../img/catalog/Necklace-desktop.png) no-repeat center;
      background-size: 630px 300px;
    }
    &--rings {
      min-width: 132px;
      min-height: 136px;
      background-size: 132px 136px;
    }
    &--bracelets {
      min-width: 200px;
      min-height: 200px;
      background-size: 200px 200px;
    }
    &--suspensions {
      min-width: 200px;
      min-height: 180px;
      background-size: 200px 180px;
    }
    &--cufflinks {
      min-width: 342px;
      min-height: 262px;
      background-size: 342px 262px;
    }
    &--gifts {
      min-width: 237px;
      min-height: 231px;
      background-size: 237px 231px;
    }
    &--religious {
      min-width: 180px;
      min-height: 223px;
      background-size: 180px 223px;
    }
    &--wood {
      min-width: 127px;
      min-height: 180px;
      background-size: 127px 180px;
    }
    &--collections {
      min-width: 200px;
      min-height: 180px;
      background-size: 200px 180px;
    }
    &--brooches {
      min-width: 239px;
      min-height: 239px;
      background-size: 239px 239px;
    }
    &--piercing {
      min-width: 95px;
      min-height: 183px;
      background: url(../img/catalog/piercing.png) no-repeat center;
      background-size: 95px 183px;
    }
  }

  .products-icon {
    display: none;
  }
}


@include desktop {
  .catalog__link-all {
    width: 300px;
  }

  .catalog__list {
    grid-template-columns: repeat(5, 310px);
    grid-template-rows: repeat(3, 310px);
  }

  .catalog__item {
    position: relative;
    background-color: $seashell;
    border-radius: 10px;
    &--necklace {
      grid-column: 1/3;
      grid-row: 1/3;
    }
    &--rings {
      grid-column: 3/4;
      grid-row: 1/2;
    }
    &--bracelets {
      grid-column: 4/5;
      grid-row: 1/2;
    }
    &--suspensions {
      grid-column: 5/6;
      grid-row: 1/2;
    }
    &--cufflinks {
      grid-column: 3/5;
      grid-row: 2/3;
    }
    &--gifts {
      grid-column: 5/6;
      grid-row: 2/3;
    }
    &--religious {
      grid-column: 1/2;
      grid-row: 3/4;
    }
    &--wood {
      grid-column: 2/3;
      grid-row: 3/4;
    }
    &--collections {
      grid-column: 3/4;
      grid-row: 3/4;
    }
    &--brooches {
      grid-column: 4/5;
      grid-row: 3/4;
    }
    &--piercing {
      grid-column: 5/6;
      grid-row: 3/4;
    }
  }

  .catalog__link {
    position: absolute;
    top: 50%;
    left: 50%;
    margin-right: -50%;
    transform: translate(-50%, -50%);
    &--rings {
      min-width: 172px;
      min-height: 196px;
      background-size: 172px 196px;
    }
    &--bracelets {
      min-width: 243px;
      min-height: 243px;
      background-size: 243px 243px;
    }
    &--suspensions {
      min-width: 252px;
      min-height: 252px;
      background-size: 252px 252px;
    }
    &--cufflinks {
      min-width: 342px;
      min-height: 262px;
      background-size: 342px 262px;
    }
    &--gifts {
      min-width: 277px;
      min-height: 271px;
      background-size: 277px 271px;
    }
    &--religious {
      min-width: 180px;
      min-height: 223px;
      background-size: 180px 223px;
    }
    &--wood {
      min-width: 157px;
      min-height: 228px;
      background-size: 157px 228px;
    }
    &--collections {
      min-width: 226px;
      min-height: 201px;
      background-size: 226px 201px;
    }
  }

  .products-icon {
    display: block;
    &--all,
    &--gloves {
      bottom: 24px;
    }
    &--all {
      left: 20px;
      min-width: 29px;
    }
    &--gloves {
      left: 64px;
      min-width: 69px;
    }

    &--chain,
    &--thread,
    &--links {
      bottom: 53px;
    }
    &--chain {
      left: 20px;
      min-width: 79px;
    }
    &--thread {
      left: 113px;
      min-width: 63px;
    }
    &--links {
      left: 190px;
      min-width: 77px;
    }

    &--molding,
    &--stamped,
    &--rolexes {
      bottom: 23px;
    }
    &--molding {
      left: 20px;
      min-width: 70px;
    }
    &--stamped {
      left: 104px;
      min-width: 104px;
    }
    &--rolexes {
      left: 222px;
      min-width: 62px;
    }

    &--christian,
    &--muslim {
      bottom: 24px;
    }
    &--christian {
      left: 20px;
      min-width: 98px;
    }
    &--muslim {
      left: 131px;
      min-width: 108px;
    }

    &--earrings {
      bottom: 53px;
      left: 20px;
      min-width: 52px;
    }

    &--crosses,
    &--suspensions,
    &--cufflinks {
      bottom: 23px;
    }
    &--crosses {
      left: 20px;
      min-width: 54px;
    }
    &--suspensions {
      left: 88px;
      min-width: 69px;
    }
    &--cufflinks {
      left: 171px;
      min-width: 58px;
    }
  }
}

@include mobile-max {
  .catalog__item:last-child {
    display: none;
  }

  .catalog__icon {
    display: none;
  }

  .products-icon--none {
    display: none;
  }
}
