.header__user-content {
  position: relative;
  padding-top: 5px;
  box-shadow: 0px 2px 10px rgba($black, 0.1);
}

.btn-burger {
  position: relative;
  width: 20px;
  height: 10px;
  border-top: 1px solid $black;
  border-bottom: 1px solid $black;
}

.header__search {
  display: inline-block;
  position: absolute;
  top: 50px;
  left: 0;
  width: 100%;
  &--none {
    display: none;
  }
}

.header__flex {
  @include flex-all-sb;
  flex-wrap: wrap;
}

.header__box {
  @include flex-all-center;
  column-gap: 17px;
}

@include desktop {
  .header__user-content {
    box-shadow: none;
  }

  .btn-burger {
    display: none;
  }

  .header__flex {
    @include flex-all-center;
    position: relative;
  }

  .header__box {
    &--search {
      position: absolute;
      top: 25px;
      right: 81px;
      z-index: 1;
    }
    &--user {
      position: absolute;
      top: 25px;
      right: 55px;
      column-gap: 70px;
    }
  }

  .header__logo {
    width: 118px;
    height: 86px;
  }

  .header__search {
    position: absolute;
    width: 500px;
    top: 0;
    left: -600px;
  }

  .btn-search,
  .header__icon-user,
  .header__icon-basket {
    &:hover {
      transform: scale(1.5);
    }
    &:active {
      opacity: 0.7;
    }
  }
}
