.news {
  margin-bottom: 77px;
}

.news__box {
  position: relative;
}

.news__title {
  padding-bottom: 28px;
  margin-bottom: 29px;
}

.news__link-page {
  @include flex;
  flex-direction: column;
  position: relative;
  margin: 0;
}

.news__img {
  border-radius: 10px;
  margin-bottom: 3px;
  &--news {
    height: 200px;
  }
}

.news__time,
.news__description {
  font-weight: 500;
  color: $black;
}

.news__time {
  font-size: 12px;
  line-height: 15px;
}

.news__description {
  font-size: 14px;
  line-height: 20px;
  margin-top: 6px;
  margin-bottom: 33px;
  & span {
    text-transform: uppercase;
  }
}

.news__link {
  font-weight: 500;
  font-size: 15px;
  min-height: 45px;
  color: inherit;
  border: 2px solid $black;
  border-radius: 3px;
  text-transform: none;
  &:hover {
    background-color: $black;
    color: $white;
  }
  &:active {
    opacity: 0.5;
  }
}

.news__btn {
  position: absolute;
  top: 187px;
  width: 40px;
  height: 40px;
  background-color: $white;
  border-radius: 50%;
  box-shadow: 1px 1px 5px rgba($black, 0.08);
  &--previous {
    left: 0;
  }
  &--next {
    right: 0;
    transform: rotate(180deg);
  }

  &--previous-news,
  &--next-news {
    top: 120px;
  }
  &--previous-news {
    left: -20px;
  }
  &--next-news {
    right: -20px;
    transform: rotate(180deg);
  }
  &:hover {
    background-color: $black;
  }
  &:hover .news__btn-icon {
    fill: $white;
  }
  &:active {
    background-color: transparent;
  }
  &:active .news__btn-icon {
    fill: $black;
  }
}

@include desktop {
  .news {
    margin-bottom: 150px;
  }

  .news__title {
    margin-bottom: 45px;
  }

  .news__btn {
    display: none;
  }

  .news__list {
    display: grid;
    grid-template-columns: 870px repeat(2, 350px);
    grid-template-rows: repeat(2, 350px);
    column-gap: 10px;
    row-gap: 21px;
  }

  .news__item {
    &--one {
      grid-column: 1/2;
      grid-row: 1/3;
    }
    &--two {
      grid-column: 2/3;
      grid-row: 1/2;
    }
    &--fhree {
      grid-column: 3/4;
      grid-row: 1/2;
    }
    &--four {
      grid-column: 2/3;
      grid-row: 2/3;
    }
    &--five {
      grid-column: 3/4;
      grid-row: 2/3;
    }
  }

  .news__img {
    width: 350px;
    height: 250px;
    &--big {
      width: 870px;
      height: 704px;
    }
  }

  .news__position {
    position: absolute;
    bottom: 34px;
    left: 20px;
  }

  .news__time {
    &--bold {
      font-weight: 500;
      color: white;
    }
  }

  .news__description {
    margin: 0;
    &--big {
      color: $white;
      font-size: 18px;
      line-height: 25px;
    }
  }

  .news__link {
    position: absolute;
    top: 14px;
    right: 194px;
    border: none;
    &::before {
      content: "";
      position: absolute;
      top: 17px;
      right: -43px;
      width: 37px;
      height: 12px;
      background: url(../img/sprite/all-news.svg) no-repeat;
      background-size: 37px 12px;
    }
    &:hover {
      background-color: transparent;
      color: $black;
    }
    &:hover::before {
      transform: scale(1.3);
    }
  }
}

@include mobile-max {
  .news__item:not(:first-child) {
    display:  none;
  }
}
