.product-page {
  position: relative;
  margin-bottom: 40px;
}

.product-page__flex {
  margin-bottom: 23px;
}

.product-page__box-img {
  @include flex-all-center;
  flex-direction: column;
  z-index: 1;
  row-gap: 44px;
  margin-bottom: 21px;
  height: 443px;
  &::after {
    content: "";
    position: absolute;
    width: 100%;
    height: 443px;
    top: 0;
    left: 0;
    background-color: $wildSand;
  }
}

.product-page__img {
  position: relative;
  top: 33px;
  left: 5px;
  z-index: 1;
}

.product-page__box-toggle {
  @include flex;
  column-gap: 11px;
}

.product-page__toggle {
  position: relative;
  z-index: 1;
  width: 31px;
  height: 2px;
  background-color: $alto;
  &--active {
    background-color: $black;
  }
  &:hover {
    transform: scaleY(1.2);
    border-radius: 3px;
  }
  &:active {
   background-color: $black;
  }
}

.products__icon {
  z-index: 1;
  &--product-new,
  &--product-hit,
  &--product-discount {
    top: 25px;
    min-height: 23px;
    font-size: 13px;
    line-height: 16px;
    border-radius: 2px;
  }
  &--product-new {
    left: 20px;
    width: 61px;
  }
  &--product-hit {
    left: 95px;
    width: 30px;
  }
  &--product-discount {
    top: 368px;
    right: 0;
    width: 36px;
  }
}

.product-page__title {
  font-size: 18px;
  line-height: 20px;
  text-transform: none;
  text-align: start;
  margin-bottom: 20px;
  &--sizes {
    margin-bottom: 9px;
  }
  &--equipment {
    font-size: 16px;
    line-height: 22px;
    margin-bottom: 10px;
  }
  &--second,
  &--suggest {
    font-size: 22px;
    line-height: 32px;
  }
  &--second {
    margin-bottom: 9px;
  }
  &--suggest {
    margin-bottom: 12px;
  }
}

.products-page__prise {
  font-weight: 600;
  line-height: 20px;
  margin-bottom: 16px;
  &-old {
    font-weight: 500;
    font-size: 14px;
    color: $dustyGray;
    margin-left: 4px;
  }
}

.sizes {
  margin-bottom: 29px;
}

.sizes__list {
  @include flex;
  flex-wrap: wrap;
  column-gap: 5px;
  border-bottom: 1px solid $alto;
  padding-bottom: 32px;
}

.sizes__item {
  position: relative;
  width: 90px;
  border: 1px solid $gallery;
  padding: 8px;
  border-radius: 20px 20px 20px 0px;
}

.sizes__number {
  font-weight: 300;
  font-size: 23px;
  line-height: 28px;
  margin-bottom: -3px;
}

.sizes__price {
  font-weight: 600;
  font-size: 11px;
  line-height: 13px;
  color: $dustyGray;
}

.sizes__availability {
  @include flex-all-center;
  position: absolute;
  top: 5px;
  right: 7px;
  width: 28px;
  height: 28px;
  font-weight: 500;
  font-size: 11px;
  line-height: 13px;
  border: 1px solid $alto;
  border-radius: 50%;
}

.product-page__btn {
  font-family: 'Inter';
  width: 100%;
  min-height: 51px;
  font-size: 14px;
  line-height: 16px;
  letter-spacing: 0.05em;
  color: $white;
  background-color: $black;
  border-radius: 3px;
  margin-bottom: 30px;
  &:hover {
    background-color: $ronchi;
    color: $black;
  }
  &:active {
    opacity: 0.5;
  }
}

.product-page__list {
  @include flex-all-sb;
  position: relative;
  padding-bottom: 3px;
  margin-bottom: 30px;
  &::after {
    content: "";
    position: absolute;
    bottom: 3px;
    width: 100%;
    height: 2px;
    background-color: $alto;
    z-index: -1;
  }
}

.product-page__btn-info {
  font-family: 'Inter';
  font-weight: 600;
  font-size: 10px;
  line-height: 32px;
  color: $dustyGray;
  &--active {
    color: inherit;
    border-bottom: 3px solid $black;
  }
  &:hover {
    color: $ronchi;
  }
  &:active {
    color: rgba($black, 0.7);
  }
  &--active:hover,
  &--active:active {
    color: $black;
  }
}

.product-page__description {
  font-size: 16px;
  line-height: 22px;
  &--main {
    margin-bottom: 25px;
  }
  &--complete {
    margin-bottom: 24px;
  }
}

.products__list {
  &--complete,
  &--suggest {
    margin-bottom: 0px;
  }
}

.products__link {
  &--complete {
    height: 180px;
  }
}

.complete {
  margin-bottom: 23px;
}

@include desktop {
  .product-page {
    margin-bottom: 108px;
  }

  .product-page__flex {
    @include flex;
    column-gap: 27px;
    margin-bottom: 61px;
  }

  .product-page__box-img {
    position: relative;
    background-color: $wildSand;
    width: 790px;
    height: 750px;
    margin-bottom: 0;
    row-gap: 0;
    &::after {
      display: none;
    }
  }

  .product-page__img {
    top: 0;
    left: 0;
  }

  .product-page__box-toggle {
    display: none;
  }

  .products__icon {
    &--product-new,
    &--product-hit,
    &--product-stocks {
      top: 18px;
    }
    &--product-new {
      left: 24px;
    }
    &--product-hit {
      left: 159px;
    }
    &--product-discount {
      display: none;
    }
    &--product-stocks {
      left: 99px;
      width: 47px;
    }
  }

  .product-page__list-img {
    @include flex;
    position: absolute;
    bottom: 20px;
    left: 255px;
    column-gap: 12px;
    z-index: 1;
  }

  .product-page__item-img {
    cursor: pointer;
    @include flex-all-center;
    width: 85px;
    height: 85px;
    background-color: $white;
    &:hover {
      transform: scale(1.2);
    }
  }

  .product-page__btn-increase {
    position: absolute;
    bottom: 16px;
    right: 16px;
    z-index: 1;
    &:hover {
      transform: scale(1.2);
    }
  }

  .product-page__box-probuct {
    padding-top: 7px;
    width: 750px;
  }

  .product-page__title {
    &--mobile {
      display: none;
    }
    &--desktop {
      font-weight: 500;
      font-size: 27px;
      margin-bottom: 0px;
    }
    &--sizes {
      margin-bottom: 17px;
    }
    &--equipment {
      margin-bottom: 7px;
    }
    &--second {
      font-size: 25px;
      margin-bottom: 29px;
    }
    &--suggest {
      text-align: center;
      font-size: 33px;
      line-height: 24px;
      margin-bottom: 32px;
    }
  }

  .product-page__article,
  .product-page__composition,
  .product-page__title--desktop {
    line-height: 32px;
  }

  .product-page__article {
    font-size: 14px;
    color: $dustyGray;
    margin-bottom: 9px;
  }

  .product-page__composition {
    font-size: 16px;
    margin-bottom: 17px;
  }

  .products-page__prise {
    &--mobile {
      display: none;
    }
    &--desktop {
      font-size: 26px;
      line-height: 31px;
      margin-bottom: 23px;
    }
  }

  .sizes {
    margin-bottom: 39px;
  }

  .sizes__list {
    column-gap: 9px;
    border-bottom: 1px solid $alto;
    padding-bottom: 32px;
  }

  .sizes__item {
    width: 122px;
    padding: 14px 9px;
  }

  .sizes__availability {
    top: 8px;
    right: 10px;
  }

  .product-page__btn {
    margin-bottom: 55px;
  }

  .product-page__list {
    justify-content: flex-start;
    column-gap: 41px;
    margin-bottom: 35px;
  }

  .product-page__btn-info {
    font-size: 15px;
  }

  .product-page__description {
    &--main {
      width: 670px;
      line-height: 26px;
    }
    &--complete {
      order: 1;
      margin-bottom: 0;
      width: 420px;
      margin-top: 50px;
    }
  }

  .complete {
    margin-bottom: 58px
  }

  .complete__box {
    @include flex;
    column-gap: 25px;
  }

  .products__list {
    &--complete {
      column-gap: 5px;
    }
    &--suggest {
      margin-bottom: 0;
    }
  }

  .products__item {
    &--mobile {
      display: none;
    }
    &--desktop {
      width: 154px;
    }
  }

  .products__link {
    &--complete {
      width: 150px;
      height: 170px;
      margin-bottom: 12px;
    }
  }

  .products__title-second--complete,
  .products__prise--complete {
    font-size: 13px;
  }

  .products__title-second {
    &--complete {
      line-height: 18px;
      margin-bottom: 6px;
    }
  }

  .products__prise {
    &--complete {
      line-height: 16px;
    }
  }
}

@include mobile-max {
  .product-page__list-img,
  .products__icon--product-stocks,
  .product-page__btn-increase,
  .product-page__title--desktop,
  .product-page__article,
  .products-page__prise--desktop,
  .sizes__item--desktop,
  .products__list--desktop,
  .products__item--desktop {
    display: none;
  }
}
